<h2 class="text-dark text-center pt-5">Welcome to Adidas store</h2>
<h3 class="text-dark text-center py-2"><a href="/session/login">Login</a> to continue</h3>
<p class="text-dark text-center py-2">If you haven't an account, <a class="text dark" href="/session/register">register
        here</a></p>